<html>
    <body>
        <h1>
            This is the about page
        </h1>
        <P>
            South Indian Bank Limited (SIB) (BSE: 532218, NSE: SOUTHBANK) is a major private sector bank headquartered at Thrissur in Kerala, India. South Indian Bank has 852 branches, 4 service branches,56 ext.counters and 20 Regional Offices spread across more than 27 states and 3 union territories in India. It has set up 1334 ATMs and 42 Bulk Note Acceptor/Cash Deposit Machines all over India. 
        </P>
    </body>
</html>